/*declarar constantes de diseño para las 
fuentes, colores y recursos*/


/* :root {
        --textos: 'Lato', sans-serif;
        --titulos: 'Roboto', sans-serif;
        --colorHeader: rgba(41, 36, 36, 0.6);
        --colorFooter: #000;
    }
    /* estilos para el cuerpo (body)
   se utiliza el selector de etiqueta*/


/*configuraciones globales*/

body {
    background: #8d56e4;
}

p {
    position: relative;
    margin-left: 180px;
}

.btn {
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.btn.click {
    left: 260px;
}

.btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

.btn.btn.click span::before {
    content: '\feed/';
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s;
}

.sidebar.show {
    left: 1px;
}

.sidebar.text {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

nav ul {
    background: #d57878;
    height: 100px;
    width: 100px;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li :last-child {
    border-bottom: 1px solid gold;
}

nav ul.feat-show.show {
    display: block;
}

nav ul.serv-show.show1 {
    display: block;
}

nav ul li {
    margin: 0;
    padding: 0;
    user-select: none;
    color: white;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

nav ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
    position: relative;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
    color: cyan
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
    font-size: 22px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: transparent;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: trasform 0.4s;
}

nav ul ul li a:hover span {
    transform: translateY(-50%) rotate(-180deg);
}

nav ul li a span.rotate {
    transform: translateY(show);
}

.home-wrapper {
    box-sizing: border-box;
}

.sidebar.text {
    margin: 0;
    padding: 0;
    user-select: none;
    color: white;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.btn {
    position: absolute;
    top: 25px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.btn.click {
    left: 260px;
    margin-top: 25px;
}

.btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

.sidebar {
    position: fixed;
    width: 150px;
    height: 100%;
    left: 300px;
    background: #8aabec;
    transition: left 0.4s;
}

.sidebar.show {
    left: 1px;
}

.sidebar.text {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}

nav ul {
    background: #1b1b1b;
    height: 100px;
    width: 100px;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li :last-child {
    border-bottom: 1px solid gold;
}

nav ul.feat-show.show {
    display: block;
}

nav ul.serv-show.show1 {
    display: block;
}

nav ul li {
    margin: 0;
    padding: 0;
    user-select: none;
    color: white;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

nav ul li.active a {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

nav ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
    position: relative;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul ul li {
    line-height: 22px;
    border-bottom: none;
    color: cyan
}

nav ul ul li a {
    font-size: 1px;
    color: #e6e6e6;
    padding-left: 80px;
    font-size: 22px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: transparent;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: trasform 0.4s;
}

nav ul ul li a:hover span {
    transform: translateY(-50%) rotate(-180deg);
}

nav ul li a span.rotate {
    transform: translateY(show);
}

h1 {
    text-align: center;
    padding-top: 1px;
}

h1:hover {
    color: rgb(127, 190, 126);
    text-decoration: underline;
    border: #000;
}

h2:hover {
    color: rgb(201, 201, 119);
    font-weight: bold;
}

section {
    margin-left: 25;
}

h6 p {
    align-content: center;
    transition: all;
    border-radius: 2px 0px 2px;
    transition: all 3ms;
    padding: 130px;
}


/*sintaxis para las clases en css es con punto (.)*/

.home-wrapper {
    background-image: url("images/background.jpg");
    right: 200%;
    right: 100%;
    top: auto;
    background-size: cover;
    color: #000;
    padding-bottom: 7px;
    margin-bottom: 7px;
    margin-top: 50px;
    width: 100%;
    border: solid 10px violet;
    border-radius: 25%;
}

.container {
    width: 250px;
    left: 25%;
    margin-left: 300px;
    padding: 5px 0 5px;
    border-radius: 250px;
    box-sizing: content-box;
    border-bottom-left-radius: 12px 0 12px;
    border: rgb(241, 235, 235);
    padding: 1px 0;
}

.logo {
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1px;
    border-radius: 33%;
    padding-top: 1%;
    margin-top: 1%;
    border-top: solid 7px violet;
    border-right: solid 7px violet;
    border-left: solid 7px violet;
}


/*

header {
    background-color: rgba(104, 99, 105, 0.6);
    border-width: 100px;
    width: 100%;
    border-radius: 200px;
    box-sizing: border-box;
    position: fixed;
    
}

header nav {
    float: right;
    font-weight: bold;
}

header nav a:hover {
    color: rgb(43, 37, 0);
    font-weight: bold;
    left: 17px;
}


*/


/*los identificadores (id) en el html, su sintaxis en css es el numeral (#) */

#home {
    text-align: center;
    padding: 500px 0 150px;
}

header {
    position: absolute;
}

.btn.click {
    left: 260px;
}

.btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

.btn.btn.click span::before {
    content: '\feed';
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s;
}

.sidebar.show {}

.sidebar.text {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

nav ul {
    background: #1b1b1b;
    height: 100px;
    width: 100px;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li :last-child {
    border-bottom: 1px solid gold;
}

nav ul.feat-show.show {
    display: block;
    text-align: center;
    background-color: #000;
}

nav ul.serv-show.show1 {
    display: block;
}

nav ul li {
    margin: 0;
    padding: 0;
    user-select: none;
    color: white;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

nav ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
    position: relative;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
    color: cyan
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
    font-size: 22px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: transparent;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: trasform 0.4s;
}

nav ul ul li a:hover span {
    transform: translateY(-50%) rotate(-180deg);
}

nav ul li a span.rotate {
    transform: translateY(show);
}

#home h1 {
    line-height: 1.2;
    color: rgb(14, 13, 7);
    text-align: center
}

#home p {
    font-size: 1.4rem;
    margin-top: 40px;
    color: rgb(240, 238, 243);
}

.social a {
    color: rgb(223, 226, 242);
    display: inline-block;
    background-color: #20ba5a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 60px;
    line-height: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    padding: 12px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.social a:hover {
    background-color: #302a31;
}


/*secciones*/

section {
    padding: 80px 0;
}

p {
    color: violet;
}

section h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 70px;
}

h4 {
    margin-left: 70px;
    padding: 12px;
}

.btn {
    position: fixed;
}


/*servicios*/

#servicios .box {
    display: inline-block;
    padding-bottom: 10px;
    border-radius: 25px;
    border: solid 7px #00646D;
    top: 5px;
    box-sizing: content-box;
    /* float: none; */
    margin: 12px;
    width: 100%;
    left: 25px;
    height: 333px;
    bottom: 1px;
    box-sizing: content-box;
    overflow: hidden;
    background-color: #9ba6a9;
}

.box h3 {
    text-align: center;
    margin-top: 10px;
    border: solid 7px #c9becc;
    border-radius: 25%;
}

#servicios .box img {
    padding-left: 30%;
    padding-bottom: 1px;
    border: solid 5px rgb(221, 212, 212);
    transition-duration: 5s;
    color: grey;
    padding: 5px;
    border-radius: 25%;
    scroll-margin-right: 2px;
}

h4 {
    padding-left: 1px;
    padding-right: 2%;
    margin-top: 10px;
    color: rgb(80, 41, 187);
    margin-right: 30px;
    text-align: center;
    scroll-margin-right: 2px;
}

h6 {
    background-color: #8aabec;
    text-align: center;
    margin-right: 1px;
    margin-left: 1px;
    padding-top: 7PX;
    padding-bottom: 7PX;
    border-radius: 25%;
    border: solid 2px black;
    align-content: center;
    padding-left: 0%;
}


/*Portafolio*/

.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 30px;
    right: 677px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp:hover {
    background: #20ba5a;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
    footer {
        width: 200%;
        background-color: #000;
        text-align: center;
        color: #fff;
        font-size: 16px;
        padding: 10px 0;
    }
}

#des {
    margin: 120px;
    border: #000;
    padding: 125px;
    position: absolute;
    width: 12px;
    content: normal;
    justify-content: center;
}

#LOGO {
    align-content: center;
}

#servicios .box {
    display: inline-block;
    /* el ancho total es de 100%, se desea dividir en tre columnas, el 33.33.33  */
    padding: 8px;
}

#servicios,
#portafolio .box h3 {
    text-align: center;
    margin-top: 10px;
}

.divider {
    text-align: center;
}

p {
    text-align: center;
    color: #000;
}

.viole {
    background-color: #8aabec;
    font-size: 25px;
    width: 25%;
    margin-left: 35%;
    text-align: center;
    border: solid 3px violet;
    border-radius: 25%;
}

a {
    background-color: #c9becc;
    padding: ;
}

.suggestionContainer-DS-EntryPoint1-2 input {
    appearance: none;
    outline: none;
    background: transparent;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    padding: calc(var(--design-unit) * 2px + 2px) 12px calc(var(--design-unit) * 2px + 2px) 12px;
    color: var(--neutral-foreground-rest);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    z-index: 1;
    font-family: inherit;
    flex: 1 1 0%;
    padding-inline-start: 16px;
}

h1 {
    margin-left: 1px;
}

.cover {
    text-align: center;
}

footer {
    text-align: center;
}

img {
    margin-left: 100%;
}